<?xml version="1.0" encoding="UTF-8"?>
<!--XML 문서 버전과 인코딩 선언-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--MyBatics 매퍼 DTO(Document Type Definition)-->
<mapper namespace="project.MilkyWay.noticeMain.NoticeDetail.mapper.NoticeDetailMapper">
    <select id="findByNoticeId" parameterType="string" resultType="project.MilkyWay.noticeMain.NoticeDetail.Entity.NoticeDetailEntity">
        SELECT * FROM NoticeDetail WHERE noticeId = #{noticeId}
    </select>
    <select id="findByNoticeDetailId" parameterType="java.lang.Long" resultType="project.MilkyWay.noticeMain.NoticeDetail.Entity.NoticeDetailEntity">
        SELECT * FROM NoticeDetail WHERE noticeDetailId = #{noticeDetailId}
    </select>
    <delete id="deleteByNoticeDetailId" parameterType="java.lang.Long">
        DELETE FROM NoticeDetail WHERE noticeDetailId = #{noticeDetailId}
    </delete>
    <insert id="Insert" parameterType="project.MilkyWay.noticeMain.NoticeDetail.Entity.NoticeDetailEntity" useGeneratedKeys="true" keyProperty="noticeDetailId">
        INSERT INTO NoticeDetail(noticeId, direction, beforeURL,afterURL,comment ) VALUES(#{noticeId}, #{direction, typeHandler=project.MilkyWay.ComonType.CleandirectionTypeHandler}, #{beforeURL, typeHandler=project.MilkyWay.ComonType.StringListTypeHandler}, #{afterURL, typeHandler=project.MilkyWay.ComonType.StringListTypeHandler}, #{comment})
    </insert>
    <update id="Update" parameterType="project.MilkyWay.noticeMain.NoticeDetail.Entity.NoticeDetailEntity">
        UPDATE NoticeDetail SET direction = #{direction, typeHandler=project.MilkyWay.ComonType.CleandirectionTypeHandler}, beforeURL =
        #{beforeURL, typeHandler=project.MilkyWay.ComonType.StringListTypeHandler}, afterURL =
        #{afterURL, typeHandler=project.MilkyWay.ComonType.StringListTypeHandler}, comment= #{comment} WHERE
        noticeDetailId = #{noticeDetailId}
    </update>
</mapper>